.OptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 60px;
    margin: 2px;
    padding: 0 15px 0 15px;
    border: 2px solid #444;
}

.OptionWrapper > * {
    flex: 0px;
}

.ChosenOptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 60px;
    margin: 2px;
    padding: 0 14px 0 14px;
    border: 3px solid purple;
}

.ChosenOptionWrapper > * {
    flex: 0px;
}
