.AppWrapper {
    width: 80rem;
    margin-inline: auto;
}

.PrimaryHeader{
    background: #444;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px;
}

.Header{ 
    margin: 0px;
}

.Wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.WeatherWrapper {
    display: grid;
    grid-template-rows: 2fr 2fr 5fr;
    justify-content: center;
    width: 600px;
    height: 500px;
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
    overflow:hidden; 
}

.ForecastWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}