.SliderWrapper {
  display: grid;
  grid-template-columns: 20px 506px 20px;
}

.Slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: -1rem;
  list-style-type: none;
  z-index: 0;
}

.SliderButton {
  width: 130px;
  height: 70px;
  top: 30px;
  right: 55px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 9999;
  border: none;
  opacity: 20%;
}

.SliderButton:hover {
  opacity: 100%;
}
